@font-face 
{
    font-family: 'SF Comic Script';
    src: url('../ressources/font/SFComicScript.woff2') format('woff2'),
    url('../ressources/font/SFComicScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    background: #141414;
}


.cercle_canvas
{
    transform:rotate(-90deg)rotateX(180deg);
}

.star_canvas
{
    width: 700px;
}

/* HOME BEGIN */
/* header begin */
.top-bar
{
    background: #8C2E2E;
}
.circle
{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}
.logo_img
{
    width: 2em;
    transform: translateX(50%);
    padding-top: 0.5em;
}
.top-bar ul
{
    background: none;
}


table{
    width: 12em;
}
.right{
    margin-right: 2%;
    font-family: SF Comic Script;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
}
.right li{
    display: inline;
}

.right a{
    color: #FFFFFF;
}

.home{
    padding-right: 2em;
}

ul
{
    list-style-type: none;
}
.top-bar-table a
{
    margin-right: 2em;
    color: #F2F2F2;
}
@media screen and (min-width: 300px) and (max-width: 700px)
{
    .top-bar-table
    {
        text-align: center;
    }
    .top-bar-table a
    {
       font-size: 0.7em;
    }
}
/* header end */

/* intro begin */
.intro
{
    padding-top: 60px;
}
.intro_img
{
    margin-top: -40px;
    padding-left: 100px;
}
.intro_text
{
    margin-top: -30px;
    text-align: center;
    font-family: SF Comic Script;
    color: white;
    font-size: 30px;
}
/*  intro end */

/* comparometer begin */
.comparometre
{
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
    color: white;
}
/* comparometer end */

/* hero selection begin */
.hero_selector
{
    width: 240px;
    height: 26px;
    background: #141414;
    margin-bottom: 10px;
}
.CHARACTER
{
    text-align: center;
    color: #9E9E9E;
    font-size: 22px;
}
.intero_contain
{
    width: 240px;
    height: 320px;
    border: white 1px solid;
}
.intero
{
    z-index: 2;
    color: #8C2E2E;
    font-size: 200px;
    text-align: center;
}
/* hero selection end */

/* hero search bar begin */
.search_bar
{
    background: #141414;
    color: #9E9E9E;
    border: 0px;
}

.hr_search_bar
{
    color: #FAFAFA;
    width: 475px;
    margin-top: -10px;
}
.versus_r
{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}
.versus_b
{
    margin-top: 105px;
    margin-left: 5px;
}
.hero_selected_bloc
{
    overflow: hidden;    
}
.compare_button
{
    cursor: pointer;
    width: 183px;
    height: 41px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    border: #8C2E2E 1px solid;
    background: #141414;
    color: #8C2E2E;
    display: none;
}

input.input_result
{
display:none;
}

div.description_button
{
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: #F5F5F5 1px solid;
    margin-left: 20px;
}

div.description_button a
{
    text-decoration: none;
    color: #F5F5F5;
    
}

.bio
{
    display:none;
}

.vignette
{
    margin-top: 15px;
    margin-left: 15px;
    width: 180px;
    height: 130px;
    cursor:pointer;
    background:#141414;
    border-radius:4px;
    color: wheat;
}
.vignette a
{
    margin-left: 20px;
    color: white;
}

/* img.hero_vignette
{
    height:130px;
} */

.vignette_button
{
    border: white 1px solid;
}


.stats
{
    display: none;
}
.p_powerstats
{
    text-align: center;
    color: white;
    font-size: 36px;
}
.p_appearance
{
    text-align: center;
    color: white;
    font-size: 36px;
}
.p_powers
{
    text-align: center;
    color: white;
    font-size: 36px;
}
.hr_stats
{
    color: #FAFAFA;
    width: 475px;
    margin-top: -16px;
}
/* hero search bar end */

/* HOME END */

/* BIOGRAPHY PAGE BEGIN */
.search_bar_container
{
    padding-top: 50px;
}
.arrow_return
{
    margin-left: 300px;
}
.text_bio
{
    z-index: 0;
    margin-left: -100px;
    height: 392px;
    width: 700px;
    background: #8C2E2E;
}
.hero_img_bio
{
    z-index: 1;
}
.hero_name_bio
{
    margin-left: 100px;
    font-family: SF Comic Script;
    font-size: 40px;
    color: white;
}
.title
{
    margin-top: -10px;
    font-family: SF Comic Script;
    font-size: 22px;
    color: white;
}
.mentions
{
    text-align: center;
    font-family: SF Comic Script;
    color: white;
}
.description
{
    margin-top: -20px;
    margin-left: 100px;
    font-size: 18px;
    color: white;
}
.stats
{
    padding-top: 50px;
}
.super_powers
{
    text-align: center;
    font-family: SF Comic Script;
    color: white;
}
.work
{
    text-align: center;
    font-family: SF Comic Script;
    color: white;
}
.work_text
{
    padding-top: 15px;
    color: white;
}
.text_informations
{
    text-align: center;
}
.appearance
{
    text-align: center;
    font-family: SF Comic Script;
    color: white;
}
.team_affiliation
{
    font-family: SF Comic Script;
    color: white;
}
.team_affiliation_text
{
    padding-top: 15px;
    color: white;
}
.other
{
    text-align: center;
    font-family: SF Comic Script;
    color: white;
}
.relatives
{
    font-family: SF Comic Script;
    color: white;
}
.relatives_text
{
    padding-top: 15px;
    color: white;
}
.work_titles
{
    font-family: SF Comic Script;
    color: white;
}
.title_container
{
    margin-left: 20px;
    width: 400px;
    height: 50px;
    background: #8C2E2E;
}
/* BIOGRAPHY PAGE end */

/* footer begin */
.footer
{
	background-color: #8C2E2E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right
{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */
.footer .footer-left
{
	width: 40%;
}
/* The company logo */
.footer .logo
{
	color:  #ffffff;
    height: 10%;
    width: 15%;
    margin: 0;
    margin-top: 5%;
    margin-left: 33%;
    transform: translateX(-66%);
}
.footer .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
    margin: 0;
    padding-top: 5%;
}
/* Footer Center */
.footer .footer-center
{
	width: 35%;
}
.footer .footer-center i
{
	margin: 5px 5px;
}
.footer .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:18px;
	line-height:2;
}
.footer .footer-icons
{
	margin-top: 25px;
}
.footer .footer-icons a
{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}
/* Footer Right */
.footer .footer-right
{
	width: 20%;
}
.footer-right ul
{
    list-style-type: none;
	line-height: 20px;
	font-size: 20px;
	font-weight: lighter;
    margin: 0;
    margin-top: 15%;
}
.footer-right ul li
{
	display: block;
	color:  #ffffff;
	margin-bottom: 40px;
}
.footer-right ul li a
{
	color:  #ffffff;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) 
{

    .footer
    {
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
    .footer .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer .footer-center i
    {
		margin-left: 0;
    }
    
    .footer .logo
    {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
/* footer end */

/* mention légales begin */
.mentions_legales
{
    color: white;
    text-align: center;
}
.titles
{
    font-family: SF Comic Script;
    
}
/* mention légales end */

/* WHY US begin */
.why_us
{
    margin-top: 150px;
    font-size: 150px;
    text-align: center;
    color: white;
    font-family: SF Comic Script;
}
/* WHY US end */