form.search{
    position:absolute;
}

.searchbar
{
    position:relative
}

.livesearch{
   position : absolute;
   text-align: left;
   background: #ffffff;
   
}
.result_search{
   z-index: 10;
   margin:0;
   padding:0;
   width: 100%;
}
.result_search:hover{
   background-color: aqua;
}

input.input_result
{
display:none
}

.test
{
    position: relative;
}

div[class^="unknown_name_"] 
{
    padding-left:320px;
    display: inline-block;
    color:red;
}

button.fight
{
    display:none;
    position: absolute;
    right:20px;
    top:100px;
    z-index:2;
}

.heroes
{
    display:inline-block;
    width: 400px;
}

div.bio
{
    display: none;
    width: 180px;
    height: 130px;
    background: rgb(81, 155, 81);
}
img.img_sticker
{
    height: 100px;
    display: block;
}


/* CANVAS */

.canvas
{
    width: 500px;
    transform:rotateY(180deg);
}