form.search{
    position:absolute;
}

.searchbar
{
    position:relative
}

.livesearch{
   position : absolute;
   text-align: left;
   background: #ffffff;
   
}
.result_search{
   z-index: 10;
   margin:0;
   padding:0;
   width: 100%;
}
.result_search:hover{
   background-color: aqua;
}

input.input_result
{
display:none
}

button.fight
{
    display:none;
    position: absolute;
    right:0;
}

.heroes
{
    display:inline-block;
}

div.sticker
{
    display: none;
    width: 200px;
    height: 130px;
    cursor:pointer;
}
img.img_sticker
{
    height: 100px;
    display: block;
}